body{
    margin:0;
    overflow:hidden;
    background:#1e1e1e;
    font-family:Arial;
}

#menu{
    position:absolute;
    width:100%;
    height:100%;
    background:#1e1e1e;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:white;
    z-index:100;
}

h1{
    font-size:60px;
}

button{
    padding:20px 40px;
    font-size:25px;
    border:none;
    border-radius:12px;
    background:limegreen;
    color:white;
    cursor:pointer;
}

button:hover{
    background:green;
}

#game{
    width:100vw;
    height:100vh;
    position:relative;
    background:#6bc56b;
    display:none;
}

.path{
    position:absolute;
    background:#b98b55;
}

.horizontal{
    height:100px;
}

.vertical{
    width:100px;
}

#base{
    width:120px;
    height:120px;
    background:gray;
    position:absolute;
    right:40px;
    top:440px;
    border:6px solid black;
}

.enemy{
    width:50px;
    height:50px;
    background:red;
    border-radius:50%;
    position:absolute;
}

.tower{
    width:50px;
    height:50px;
    background:blue;
    position:absolute;
    border-radius:10px;
}

.bullet{
    width:12px;
    height:12px;
    background:yellow;
    border-radius:50%;
    position:absolute;
}

#ui{
    position:absolute;
    top:10px;
    left:10px;
    color:white;
    background:#222;
    padding:12px;
    border-radius:10px;
    font-size:22px;
    z-index:20;
    display:none;
}

#towerButton{
    position:absolute;
    bottom:10px;
    left:10px;
    background:dodgerblue;
    color:white;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
    font-size:22px;
    display:none;
    z-index:20;
}
